
$heading-font: 'Roboto', Arial;
$paragraph-font:'Merriweather', sans-serif;

$font-size-h1-desktop: 36px;
$font-size-h2-desktop: 28px;
$font-size-p-desktop: 22px;

$font-size-h1-ipad: 32px;
$font-size-h2-ipad: 26px;
$font-size-p-ipad: 20px;

$font-size-h1-phone: 26px;
$font-size-h2-phone: 20px;
$font-size-p-phone: 18px;

$font-size-nav-desktop: 28px;
$font-size-nav-ipad: 22px;
$font-size-nav-phone: 18px;

$line-height-h: 36px;
$line-height-p: 38px;

$font-weight-h: 700;
$font-weight-p: 400;

$background-color: #000033;

$font-color: white;

$meny-color: #0000ff;

$light-meny-color: lighten($meny-color, 10%);

$dark-background-color: darken($background-color, 5%);

//Mixin för olika responsive layout 

@mixin responsive-layout($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: 500px) {
        @content;
      }
    } @else if $breakpoint == medium {
      @media (min-width: 500) and (max-width: 900px) {
        @content;
      }
    } @else if $breakpoint == large {
      @media (min-width: 900px) {
        @content;
      }
    } @else {
      @warn "Ingen matchande breakpoint för #{$breakpoint} hittades.";
    }
  }

  

  //General styling

  body {
    background-color: $background-color;
  }


  a {
    color: $font-color;
  }