
$heading-font: 'Roboto', sans-serif;
$paragraph-font:'Merriweather', sans-serif;

$font-size-h1-desktop: 32px;
$font-size-h2-desktop: 28px;
$font-size-p-desktop: 22px;

$font-size-h1-ipad: 28px;
$font-size-h2-ipad: 26px;
$font-size-p-ipad: 22px;

$font-size-h1-phone: 22px;
$font-size-h2-phone: 20px;
$font-size-p-phone: 18px;

$font-size-nav-desktop: 22px;
$font-size-nav-phone: 18px;

$background-color: #000033;

$font-color: white;

$meny-color: #350066;