@media screen and (min-width: 500px) {
    footer {
        background-color: #000033;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            text-align: center;
            font-family: 'Roboto';
            font-size: 22px;
            font-weight: 700;
            line-height: 38px;
            color: white;
        }
    }

}

@media screen and (max-width: 600px) {
    footer {
        background-color: #000033;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li {
            text-align: center;
            font-family: 'Roboto';
            font-size: 18px;
            font-weight: 700;
            line-height: 38px;
            color: white;
        }
    }
}