@use 'base';
@use 'component';

@include base.responsive-layout("large") {
    footer {
        background-color: base.$dark-background-color;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            text-align: center;
            font-family: base.$heading-font;
            font-size: base.$font-size-nav-desktop;
            font-weight: 700;
            line-height: 38px;
            color: base.$font-color;
        }
    }

}

@include base.responsive-layout("medium") {
    footer {
        background-color: base.$dark-background-color;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
        }

        li {
            text-align: center;
            font-family: base.$heading-font;
            font-size: base.$font-size-nav-phone;
            font-weight: 700;
            line-height: 38px;
            color: base.$font-color;
        }
    }

}

@include base.responsive-layout("small") {
    footer {
        background-color:base.$dark-background-color;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li {
            text-align: center;
            font-family: base.$heading-font;
            font-size: base.$font-size-nav-phone;
            font-weight: 700;
            line-height: 38px;
            color: base.$font-color;
        }
    }
}