@use 'base';
@use 'component';

@include base.responsive-layout("large") {

    .header-nav {
        ul {
            display: flex;
            gap: 60px;
            font-family: base.$heading-font;
            font-size: base.$font-size-nav-desktop;
            font-weight: 700;
            line-height: 36px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: base.$font-color;
        }
    }
    
    .dropdown-menu {
        display: none;
    }
    
    .menu-container {
        display: flex;
        align-items: center;
    }
    
    .dropdown-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 100px;
        font-family: base.$heading-font;
        font-size: base.$font-size-nav-desktop;
        font-weight: 700;
        color: base.$font-color;
        border-radius: 0px 0px 5px 5px;
        background-color: base.$meny-color;
    }
     
    
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 20px 0px;
        list-style: none;

        li {
            padding: 0px 40px;
            cursor: pointer;
        }

        li:hover {
            background-color: base.$light-meny-color;
        }
    }

    .menu-heading {
        font-family: base.$heading-font;
        font-size: base.$font-size-nav-desktop;
        font-weight: 700;
        line-height: 36px;
        list-style: none;
        color: base.$font-color;
    }
    
    .menu {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: base.$dark-background-color;
        padding: 0px 200px;
    }

}

@include base.responsive-layout("medium") {

    .header-nav {
        ul {
            display: flex;
            gap: 60px;
            font-family: base.$heading-font;
            font-size: base.$font-size-nav-desktop;
            font-weight: 700;
            line-height: 36px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: base.$font-color;
        }
    }

    .dropdown-menu {
        display: none;
    }
    
    .menu-container {
        display: flex;
        align-items: center;
    }
    
    .dropdown-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 100px;
        font-family: base.$heading-font;
        font-size: base.$font-size-nav-desktop;
        font-weight: 700;
        color: base.$font-color;
        border-radius: 0px 0px 5px 5px;
        background-color: base.$meny-color;
    }
    
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 20px 0px;
        list-style: none;

        li {
            padding: 0px 40px;
            cursor: pointer;
        }
    
        li:hover {
            background-color: base.$light-meny-color;
        }
    }

    .menu-heading {
        font-family: base.$heading-font;
        font-size: base.$font-size-nav-desktop;
        font-weight: 700;
        line-height: 36px;
        list-style: none;
        color: base.$font-color;
    }
    
    .menu {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: base.$dark-background-color;
        padding: 0px 50px;
    }

}

@include base.responsive-layout("small") {
    .header-nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            font-family: base.$heading-font;
            font-size: base.$font-size-nav-phone;
            font-weight: 700;
            line-height: 36px;
            list-style: none;
        }

        a {
            text-decoration: none;
            color: base.$font-color;
        }
    }
 
    .dropdown-menu {
        display: none;
    }
    
    .menu-container {
        display: flex;
        align-items: center;
    }
    
    .dropdown-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        top: 100px;
        right: 0%;
        font-family: base.$heading-font;
        font-size: base.$font-size-nav-phone;
        font-weight: 700;
        color: base.$font-color;
        border-radius: 0px 0px 5px 5px;
        background-color: base.$meny-color;
    }
    
    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 20px 0px;
        list-style: none;

        li {
            padding: 0px 40px;
            cursor: pointer;
        }
    
        li:hover {
            background-color: base.$light-meny-color;
        }
    }

    .menu-heading {
        display: none;
    }
    
    .menu {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        background-color: base.$dark-background-color;
        padding: 0px 30px;
    }
}