@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 255, 255, 0.286);
}

main {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: darkblue;
}

.process-list {
    display: flex;
    flex-direction: column;    
    gap: 10px;   
    padding: 50px; 
}

.process-list li {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: darkblue;
}